* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #222325;
  /* color: #DACABD; */
}

.feedback-body { /* Dont know if needed */
  justify-content: center;
  align-items: center;
}

/* Madelen Hamburger Menu Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; /* Top, Right */
  background-color: #222325;
  color: #D49F54;
  border-bottom: 1px solid #D49F54; /* Thin line under nav bar */
}

.logo {
  font-size: 24px;
  padding-left: 10px;
}

/* Hamburger Icon */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto; /* Pushes menu to the right */
  padding-right: 20px;
}

.hamburger span {
  background-color: #D49F54;
  height: 3px;
  width: 25px;
  margin: 3px 0; /* Top, Right */
  transition: all 0.3s ease;
}

/* Nav Menu */
.nav-menu {
  color: #D49F54;
  display: none;
  list-style-type: none;
  background-color: #222325;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}

.nav-menu li {
  padding: 10px;
}

.nav-menu a {
  color: #D49F54;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav-menu a:hover {
  background-color: #555;
}

.nav-menu.active {
  display: block;
}

/* Media Query */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: transparent;
  }

  .nav-menu li {
    padding: 0;
  }

  .nav-menu a {
    padding: 10px 20px;
  }
}
/* Madelen Hamburger Menu End */

/* Madelen Feedback form Start */
.feedback-container {
  background-color: #DACABD;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}

.feedback-header {
  margin-bottom: 20px;
}

.feedback-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
}

.feedback-form button {
  background-color: white;
  padding: 10px 15px; /* Top, Right */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: gray;
}
/* Madelen Feedback form End */
